body.ixm-dashboard {
  padding-bottom: 60px;

  @media (min-width: $dashboard-bp) {
    margin-left: 200px !important;
    padding-bottom: 0;
  }
}

#ixm-dashboard {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: #2c343a;
  color: #fff;
  overflow: auto;
  z-index: 1000;

  @media (min-width: $dashboard-bp) {
    display: block;
    width: 200px;
    height: 100%;
    top: 0;
    transition: all .5s ease-in-out;
  }

  .ajax-progress {
    display: none;
  }
}

.ixm-dashboard-bar {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (min-width: $dashboard-bp) {
    flex-direction: column;
  }
}

.dashboard-bar-link {
  position: relative;
  opacity: 0.65;
  transition: opacity .5s ease;
  min-width: 20%;

  @media (min-width: 610px) {
    min-width: auto;
  }

  &.active,
  &:hover {
    opacity: 1;
  }

  a {
    max-height: 100%;
    text-decoration: none;
    text-align: center;
    font-weight: 100;
    color: #fff;
    padding: .5em 1em;
    display: flex;
    flex-direction: column;

    @media (min-width: $dashboard-bp) {
      padding: .875em 1em;
    }

    /* Icon */
    i {
      font-size: 1.5em;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;

      @media (min-width: $dashboard-bp) {
        font-size: 2.125em;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 2;
        order: 2;
      }
    }
  }

  &.active-trail,
  &.active,
  &:hover a {
    color: #fff;
    background: #343b41;
    text-decoration: none;
  }

  &.active-trail.active:after,
  &.active:after,
  &.active-trail.active:hover:after,
  &.active:hover:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, $orange, lighten($orange, 10%));

    @media (min-width: $dashboard-bp) {
      width: 4px;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: auto;
      background: linear-gradient($orange, lighten($orange, 10%));
    }
  }
}

// Link text.
#ixm-dashboard .dashboard-bar-link a span {
  font-size: .875em;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 2;
  order: 2;

  @media (min-width: $dashboard-bp) {
    font-size: 1em;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

/**
 * Ajax Tray
 */
#ixm-dashboard-tray {
  position: fixed;
  left: -901px; /* 1px over max-width + width of dashboard */
  top: 0;
  bottom: 0;
  width: 100%;
  background: #343b41;
  color: #fff;
  transition: all .5s ease;
  box-shadow: 5px 3px 10px -3px rgba(0, 0, 0, 0.75);
  z-index: 999;

  @media (min-width: $dashboard-bp) {
    max-width: 700px;
    width: calc(100% - 200px);
  }

  // Slide open.
  &.open {
    left: 0;

    @media (min-width: $dashboard-bp) {
      left: 200px;
    }
  }

  // Close button.
  .close-tray {
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #343b41;
    color: rgba(255, 255, 255, 0.65);
    box-shadow: 5px 3px 10px -3px rgba(0, 0, 0, 0.75);
    padding: 5px;

    i {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .tray-content {
    padding: 1em 0;
    color: rgba(255, 255, 255, 0.6);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    @media (min-width: $dashboard-bp) {
      padding: 2em;
    }

    a .material-icons {
      font-size: 1em;
    }

    .display-title,
    .widget-box .title {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.65);
      margin: 0.5em 0;
    }

    .display-title {
      font-size: 17px;
      margin-bottom: 1em;
    }

    .widget-content {
      margin-bottom: 1em;
    }

    .widget-box {
      background: #2c343a;
      padding: 1em;
      height: 100%;

      .title {
        font-size: 15px;
      }

      .detail {
        font-size: 1.5em;
        box-shadow: inset 4px 0 0 $orange;
      }

      .stat {
        color: rgba(255, 255, 255, 0.8);
        font-size: 36px;
        font-weight: 300;
      }
    }
  }

  // loading
  .tray-loading {
    display: none;
    width: 100%;

    // throbber
    .progress-throbber {
      opacity: 1;
      width: 60px;
      height: 60px;
      margin: -30px -30px 0 0;

      & .path {
        stroke: $orange;
        animation: dash $duration ease-in-out infinite, dashboard-colors $duration ease-in-out infinite;
      }
    }
  }

  &.loading .tray-loading {
    display: block;
  }
}

// @todo: make mixin for throbbers.
@keyframes dashboard-colors {
  0% { stroke: $colour-start; }

  50% { stroke: $colour-end; }

  100% { stroke: $colour-start; }
}
